.calc{
    text-align: center;
    
}

.calc input,select{
    padding: 10px;
    border-radius: 5px;
    margin: 5px 5px;
}
 #btn,.next{
    padding: 10px;
    border-radius: 5px;
    margin: 0px 5px;
} 

div .continue{
    display: none;
}